# Virtual Environment
.venv/
venv/

# PyCharm
.idea/
Smart_ERP/.idea/

# Python Cache
__pycache__/
Smart_ERP/__pycache__/
*.pyc

# Environment Variables
.env

# VS Code
.vscode/

# Build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/